<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <title> Read (One) </title>
</head>
<body>
    <div class="container">
        <h1>User {{user_id}}</h1>
        <div>
            <h2>Full Name:</h2>
            <p>{{ user.first_name }} {{user.last_name}}</p>
            <h2>Email:</h2>
            <p>{{ user.email}}</p>
            <h2>Created On:</h2>
            <p>{{ user.created_at }}</p>
            <h2>Last Updated On:</h2>
            <p>{{ user.updated_at}}</p>
        </div>
        <a href="/user/{{user.id}}">Edit</a> | <a href="/user/destroy/{{user.id}}">Delete</a>
    </div>
</body>
</html>